In [2]:
%matplotlib inline
import matplotlib as plt
import seaborn as sns
import pandas as pd
import numpy as np

**Task 1**
* В переменную с именем subset_1 сохраните только первые 10 наблюдений и только 1 и 3 колонку.
* В переменную с именем subset_2 сохраните все наблюдения кроме 1 и 5 и только 2 и 4 колонку.

In [9]:
my_stat = pd.read_csv('/Users/avyny/ML_course_tasks(Python)/Datasets for ML course/my_stat.csv')
subset_1 = my_stat.iloc[0:10, [0, 2]]
subset_2 = my_stat.drop([0, 4]).iloc[:, [1, 3]]

**Task 2**
- В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.
- В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.

In [14]:
subset_1 = my_stat.query("V1 > 0 & V3 == 'A'")
subset_2 = my_stat.query("V2 != 10 | V4 >= 1")

**Task 3**
Cоздайте две новые переменных:
- V5 = V1 + V4
- V6 = натуральный логарифм переменной V2

In [19]:
my_stat = my_stat.assign(V5 = my_stat.V1 + my_stat.V4,
               V6 = np.log(my_stat.V2))
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

**Task 4**
Переименуйте колонки в данных  my_stat следующим образом:
- V1 -> session_value
- V2 -> group
- V3 -> time
- V4 -> n_users

In [24]:
my_stat = my_stat.rename(columns = {'V1': 'session_value',
                          'V2': 'group',
                          'V3': 'time',
                          'V4': 'n_users'})
my_stat.head()

   session_value  group time  n_users   V5        V6
0              2   13.0    B      1.0  3.0  2.564949
1             -1    7.0    B      1.0  0.0  1.945910
2              0   11.0    A      0.0  0.0  2.397895
3              2   11.0    A      2.0  4.0  2.397895
4              0   10.0    B     -1.0 -1.0  2.302585

**Task 5** 
- В переменной session_value замените все пропущенные значения на нули.
- В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется).

In [74]:
my_stat2 = pd.read_csv('/Users/avyny/ML_course_tasks(Python)/Datasets for ML course/my_stat_na.csv')
my_stat2['session_value'] = my_stat2['session_value'].fillna(0)
med = my_stat2.query('n_users >= 0')['n_users'].median()
my_stat2.loc[my_stat2.n_users < 0, 'n_users'] = med
my_stat2.head()

   group  n_users  session_value time
0    9.0      7.0            1.0    A
1   10.0      8.0            2.0    B
2   10.0      7.0            4.0    A
3   10.0     -0.0            0.0    B
4    9.0      7.0           -1.0    B

**Task 6**
В этой задаче для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со средним значением session_value в mean_session_value.
Получившийся результат сохраните в dataframe с именем mean_session_value_data.

In [79]:
mean_session_value_data = my_stat2.groupby('group', as_index=False).agg({'session_value': 'mean'}) \
                                    .rename(columns = {'session_value': 'mean_session_value'})
mean_session_value_data

   group  mean_session_value
0    7.0            0.000000
1    8.0           -0.294118
2    9.0            0.151786
3   10.0           -0.047368
4   11.0            0.112000
5   12.0           -0.382353
6   13.0            0.000000