In [449]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier

%matplotlib inline

Пример как должен выглядеть ответ

In [62]:
example_of_answer = pd.read_csv('/Users/avyny/Desktop/abc/submission_example.csv')
example_of_answer.head()

   user_id  is_gone
0       12     0.26
1       13     0.79
2       15     0.12
3       21     0.67
4       35     0.62

Мы будем считать, что пользователь успешно закончил курс, если он правильно решил больше 40 практических заданий.

В данных:

- submission_data_test.csv
- events_data_test.csv

хранится информация о решениях и действиях для 6184 студентов за первые два дня прохождения курса. Это 6184 студентов, которые проходили курс в период с мая 2018 по январь 2019. Подробное описание переменных смотри в этом шаге.  

Используя данные о первых двух днях активности на курсе вам нужно предсказать, наберет ли пользователь более 40 баллов на курсе или нет.

В этих данных, вам доступны только первые два дня активности студентов для того, чтобы сделать предсказание. На самом деле, используя эти данные, вы уже можете сделать прогноз. Например, если пользователь за первые два дня набрал 40 баллов, скорее всего он наберет более 40 баллов в дальнейшем. Чтобы подкрепить такие гипотезы, вы можете использовать данные, на которые мы исследовали в первых двух модулях курса, где для всех пользователей представлены все данные об их активности на курсе.

In [119]:
submissions_data = pd.read_csv('/Users/avyny/Desktop/abc/submission_data_test.csv')
users_scores = submissions_data.pivot_table(index = "user_id", columns = "submission_status", values = "step_id", aggfunc="count", fill_value=0) \
           .reset_index()
users_scores.head(8)

submission_status  user_id  correct  wrong
0                       12        1      0
1                       13       29     36
2                       15       10     30
3                       21       24    103
4                       35        7     35
5                       45        2      0
6                       55        8      3
7                       58        9      3

In [134]:
events_data = pd.read_csv('/Users/avyny/Desktop/abc/events_data_test.csv')
users_events_data = events_data.pivot_table(index = "user_id", columns = "action", values = "step_id", aggfunc="count", fill_value=0) \
           .reset_index()
users_events_data.head()

action  user_id  discovered  passed  started_attempt  viewed
0             4           1       1                0       1
1             6           1       1                0       1
2            10           2       2                0       6
3            12          11       9                4      14
4            13          70      70               35     105

In [950]:
var_time = events_data.groupby('user_id')['timestamp'].max() - events_data.groupby('user_id')['timestamp'].min()
var_time = pd.DataFrame({'total_time': var_time}).reset_index()
var_time.head()

   user_id  total_time
0        4           0
1        6           0
2       10        8014
3       12         167
4       13      127816

In [951]:
final_table = users_scores.merge(users_events_data, how = 'outer')
final_table = final_table.fillna(0)

In [1028]:
final_table = final_table.merge(var_time, how = 'outer')
final_table['ratio'] = final_table.correct/(final_table.wrong + 0.1)
final_table['is_gone_user'] = (final_table.correct > 10.00) | ((final_table.ratio > 100.00) | ((final_table.ratio < 1.00) & (final_table.ratio > 0.80))) | ((final_table.correct < 10.00) & (final_table.total_time < 50) & (final_table.correct > 5.00)) 
                            
X = final_table.drop('is_gone_user', axis=1)
X = X.set_index(X.user_id)
X = X.drop(['user_id'], axis=1)
y = final_table.is_gone_user.map(int)

final_table.query('total_time < 50 & correct > 5')
# final_table.head()

,user_id,correct,wrong,discovered,passed,started_attempt,viewed,total_time,ratio,is_gone_user
2,15,10.0,30.0,1,1,0,1,0,0.332226,False
34,248,29.0,84.0,1,1,0,1,0,0.344828,True
36,260,6.0,4.0,1,1,0,1,0,1.463415,True
55,430,15.0,19.0,1,1,0,1,0,0.785340,True
92,804,7.0,30.0,1,1,0,1,0,0.232558,True
121,1156,9.0,8.0,1,1,0,1,0,1.111111,True
187,1751,8.0,7.0,1,1,0,1,0,1.126761,True
196,1822,11.0,3.0,1,1,0,1,0,3.548387,True
270,2603,9.0,26.0,1,1,0,1,0,0.344828,True
287,2819,9.0,9.0,1,1,0,1,0,0.989011,True
295,2866,28.0,0.0,3,2,1,3,6,280.000000,True
362,3494,7.0,9.0,1,1,0,1,0,0.769231,True
387,3773,9.0,2.0,1,1,0,1,0,4.285714,True
402,3924,8.0,14.0,1,1,0,2,3,0.567376,True
407,3953,14.0,24.0,3,3,0,3,42,0.580913,True
425,4116,9.0,15.0,1,1,0,1,0,0.596026,True
451,4345,9.0,3.0,2,2,0,6,27,2.903226,True
483,4651,16.0,35.0,1,1,0,1,0,0.455840,True
499,4835,29.0,19.0,1,1,0,1,0,1.518325,True
528,5066,18.0,10.0,3,2,1,3,40,1.782178,True
545,5208,8.0,14.0,1,1,0,1,0,0.567376,True
557,5281,7.0,4.0,1,1,0,1,0,1.707317,True
586,5441,40.0,34.0,1,1,0,1,0,1.173021,True
599,5580,9.0,2.0,1,1,0,1,0,4.285714,True
609,5749,10.0,2.0,1,1,0,1,0,4.761905,False
629,5982,8.0,6.0,1,1,0,1,0,1.311475,True
632,6047,13.0,7.0,1,1,0,1,0,1.830986,True
666,6389,9.0,0.0,1,1,0,1,0,90.000000,True
669,6411,14.0,13.0,2,2,0,2,6,1.068702,True
672,6448,8.0,1.0,1,1,0,1,0,7.272727,True
...,...,...,...,...,...,...,...,...,...,...
2276,21715,9.0,3.0,1,1,0,1,0,2.903226,True
2312,22133,9.0,1.0,1,1,0,1,0,8.181818,True
2325,22340,7.0,1.0,1,1,0,1,0,6.363636,True
2332,22410,11.0,10.0,1,1,0,1,0,1.089109,True
2358,22698,24.0,11.0,1,1,0,1,0,2.162162,True
2391,22978,9.0,1.0,1,1,0,1,0,8.181818,True
2403,23114,15.0,1.0,1,1,0,1,0,13.636364,True
2412,23208,7.0,5.0,1,1,0,1,0,1.372549,True
2430,23378,24.0,5.0,1,1,0,1,0,4.705882,True
2442,23466,8.0,8.0,1,1,0,1,0,0.987654,True
2486,23813,14.0,16.0,1,1,0,3,44,0.869565,True
2502,23907,13.0,2.0,1,1,0,1,0,6.190476,True
2505,23932,13.0,6.0,1,1,0,1,0,2.131148,True
2588,24710,11.0,12.0,1,1,0,1,0,0.909091,True
2663,25467,19.0,3.0,1,1,0,1,0,6.129032,True
2666,25518,13.0,14.0,1,1,0,1,0,0.921986,True
2670,25579,13.0,18.0,1,1,0,1,0,0.718232,True
2714,25940,9.0,4.0,1,1,0,1,0,2.195122,True
2717,25975,13.0,4.0,1,1,0,1,0,3.170732,True
2727,26076,11.0,15.0,1,1,0,1,0,0.728477,True
2744,26250,8.0,5.0,1,1,0,1,0,1.568627,True
2757,26412,40.0,19.0,1,1,0,1,0,2.094241,True
2762,26481,15.0,2.0,1,1,0,1,0,7.142857,True
2766,26529,24.0,142.0,1,0,1,1,9,0.168895,True
2771,26580,9.0,1.0,1,1,0,1,0,8.181818,True
2774,26615,8.0,3.0,1,1,0,1,0,2.580645,True
2782,26677,19.0,37.0,1,1,0,1,0,0.512129,True
2790,26706,7.0,4.0,1,1,0,1,0,1.707317,True
2791,26713,10.0,5.0,1,1,0,1,0,1.960784,False
2793,26729,9.0,15.0,1,1,0,1,0,0.596026,True

In [1024]:
# best_tree = RandomForestClassifier(criterion='entropy', max_depth=5, min_samples_leaf=10, min_samples_split=15, n_estimators=20)
clf = RandomForestClassifier()
parameters = {'n_estimators': range(10, 50, 10),
             'criterion': ['gini', 'entropy'],
             'max_depth': range(2, 6),
             'min_samples_split': range(5, 20, 5),
             'min_samples_leaf': range(5, 20, 5)
             }
grid_search = GridSearchCV(clf, param_grid = parameters, n_jobs = -1, cv = 5)
grid_search.fit(X, y)
best_tree = grid_search.best_estimator_
best_tree

# best_tree.fit(X, y)

# RandomForestClassifier: criterion='entropy', max_depth=5, min_samples_leaf=10, min_samples_split=10, n_estimators=20

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [1025]:
best_tree.score(X,y)

0.9691138421733506

In [1026]:
y_predicted_prob = best_tree.predict_proba(X)
pred = pd.DataFrame({'is_gone': y_predicted_prob[:,1]})
pred.head(10)

    is_gone
0  0.072381
1  0.982855
2  0.555704
3  0.965800
4  0.107114
5  0.015097
6  0.061211
7  0.055913
8  0.072505
9  0.253684

In [1027]:
result = final_table[['user_id']]
df_c = pd.concat([result, pred], axis=1)
df_c.head(20)

    user_id   is_gone
0        12  0.072381
1        13  0.982855
2        15  0.555704
3        21  0.965800
4        35  0.107114
5        45  0.015097
6        55  0.061211
7        58  0.055913
8        62  0.072505
9        74  0.253684
10       81  0.060093
11      102  0.982855
12      105  0.048301
13      112  0.015050
14      113  0.189889
15      119  0.986418
16      124  0.022923
17      140  0.986418
18      141  0.015097
19      150  0.015097

ЗАПИСЫВАЕМ СОЗДАННЫЙ ДАТАФРЕЙМ В ФАЙЛ

In [1019]:
df_c.to_csv(r'/Users/avyny/Desktop/result.csv', index = None, header=True)